html { 
  height:100%;
}

body {
  font-family: 'Raleway', sans-serif;
  height: 100%;
}
.no-padding {
	padding: 0;
}

.row-fluid {
  position: absolute;
  width: 100%;
  left: 0;
}

.wrapper {
  display: block;
  background-image: url("../img2016/back.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 100%;
}

.logo {
  padding-top: 10px;
}

.logo .logos {
  display: block;
  position: relative;
}

.logo .logos img {
  margin: auto;
}

.logo .logos .second {
  position: absolute;
  top: 60px;
  left: 131px;
}

.logo .logos .third {
  position: absolute;
  top: 98px;
  left: 169px;
}

.toggleDays {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 27%;
}

.toggleDays .daysRemain {
  font-size: 100px;
  color: #f2a01f;
  font-weight: 800;
}

.toggleDays .daysText {
  color: #d3c6a8;
  margin-top: -19px;
}

@media all and (max-width: 415px) {
  .toggleDays .daysRemain {
    font-size: 60px;
  }
  .toggleDays {
    top:33%;
  }
}

@media all and (max-width: 350px) {
  .toggleDays .daysRemain {
    font-size: 50px;
  }
  .toggleDays {
    top:27%;
  }
}


@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.logo .logos .second {
  -webkit-animation: rotating 40s linear infinite;
  -moz-animation: rotating 40s linear infinite;
  -ms-animation: rotating 40s linear infinite;
  -o-animation: rotating 40s linear infinite;
  animation: rotating 40s linear infinite;
}

 @-webkit-keyframes rotateRight /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotateRight {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.logo .logos .third {
  -webkit-animation: rotateRight 20s linear infinite;
  -moz-animation: rotateRight 20s linear infinite;
  -ms-animation: rotateRight 20s linear infinite;
  -o-animation: rotateRight 20s linear infinite;
  animation: rotateRight 20s linear infinite;
} 

.social {
  text-align: center;
}

.social h1 {
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 34px;
  color: #891826;
  font-weight: 800;
  letter-spacing: 6px;
}

.social p {
  font-size: 22px;
  color: #d8ceaf;
}

.social h3,
.social h4 {
  font-size: 22px;
  color: #ee9a20;
}

.social h4 {
  margin-bottom: 30px;
}

.social hr {
  margin-top: 3%;
}

 hr {
  margin-top: 10%;
  margin-bottom: 30px;
  border-top: 2px solid #891826;
/*   width: 29%; */
}

.logo .linkButtons {
  width: 142px;
  height: 50px;
  background-color: #891826;
  color: #d3c6a8;
  border-radius: 50px;
  text-align: center;
  display: block;
  line-height: 51px;
  margin-top: 165px;
}

.logo .linkButtons:hover {
  text-decoration: none;
}

.social .socialFooter {
  font-size: 20px;
  margin:20px 0 30px;
}


.social .socialFooter i {
  width: 44px;
  height: 44px;
  background-color: #d8ceaf;
  color: #a71d2f;
  border-radius: 50%;
  line-height: 44px;
  margin-left: 5px;
  margin-top: 5px;
}

.social .socialFooter a:hover i {
  width: 46px;
  height: 46px;
  line-height: 46px;
  margin-left: 3px;
  margin-top: 3px;
}

.social .socialFooter a:hover ~ p#powered {
  margin: 19px auto;
}

/* .social .socialFooter a {
  width: 44px;
  height: 44px;
  background-color: #d8ceaf;
  color: #a71d2f;
  border-radius: 50%;
  line-height: 44px;
  margin-left: 5px;
} */

.social .socialFooter a:hover,
.social .socialFooter a:focus {
  text-decoration: none;
}

.social .socialFooter p {
  border-top: 1px solid #d3ae5b;
  margin: 20px auto;
  padding: 10px;
  max-width: 320px;
  text-transform: uppercase;
  font-size: 12px;
}

.social .socialFooter p a {
  color: #d3ae5b;
}


/* mailchimp  */

#mc_embed_signup input.email {
  height: 50px !important;
  background-color: #d8ceaf !important;
  color: #891826 !important;
  border-radius:2px !important;
  padding-left: 30px !important;
  border: 0 !important;
}

#mc_embed_signup input.email::-webkit-input-placeholder {
   color: #891826;
}

#mc_embed_signup input.email:-moz-placeholder { Firefox 18-
   color: #891826;  
}

#mc_embed_signup input.email::-moz-placeholder {  Firefox 19+
   color: #891826;  
}

#mc_embed_signup input.email:-ms-input-placeholder {  
   color: #891826;  
}

#mc_embed_signup .button {
  height: 50px !important;
  background-color: #f2a01f !important;
  color: #891826 !important;
  border: 0 !important;
  border-radius: 2px !important;
  font-weight: 800 !important;
}

#mc_embed_signup {
  background: transparent !important;
  font-family: 'Raleway', sans-serif !important;
  font: inherit !important;
}

@media all and (max-width: 1199px) {
  .logo .logos .second {
    left: 81px;
  }

  .logo .logos .third {
    left: 120px;
  }
}

@media all and (max-width: 991px) {
  .logo .logos .second {
    width: 214px;
    top: 58px;
    left: 58px;
  }

  .logo .logos .third {
    width: 154px;
    top: 86px;
    left: 88px;
  }
}

@media all and (max-width: 767px) {

  .logo {
    padding-top: 10px;
  }

  .logo .linkButtons {
    float: none !important;
    margin: 20px auto;
  }

  .logo .logos .second {
    width: inherit;
    top: 61px;
    left: 0;
    right: 0;
  }

  .logo .logos .third {
    width: inherit;
    top: 99px;
    left: 0;
    right: 0;
  }

  .social hr {
    width: 70%;
  }
}

@media all and (max-width: 475px) {
  .logo .logos .second {
    width: 68%;
    top: 16%;
  }

  .logo .logos .third {
    width: 48%;
    top:26%;
  }

  .toggleDays .daysText {
    margin-top: -10px;
  }
}


/* navbar */

/* .comming-soon .navbar-brand {
  display: none;
} */
.comming-soon {
  padding-top: 30px;

}

.navbar-fixed-top {
    background-image: url("../img2016/back.jpg");
      background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 94px;
    padding: 15px 15px 0 15px;
}

.comming-soon .navbar-header {
  height: 64px;
}

.comming-soon .dropdown a {
  color: #ee9a20;
  font-weight: 800;
}

.comming-soon .dropdown a:hover,
.comming-soon .dropdown a:focus {
  background-color: transparent;
}

.comming-soon .dropdown .caret {
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.comming-soon .dropdown-menu {
  background-color: transparent;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: transparent;
}

.navbar-toggle .icon-bar {
  background-color: #f2a01f;
}

.dropdown-menu .divider {
  background-color: #f2a01f;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    margin-left: -12%;
}
 
 .navbar .navbar-collapse {
     text-align: center;
 }
 
 .nav>li>a {
   color: #d8ceaf;
   font-size: 16px;
   padding-top: 21px;
 }
 
 .nav>li.active a {
   color: #ee9a20;
 }
 
 .nav>li>a:hover, .nav>li>a:focus {
   background: transparent;
 }

.position.opend {
  margin-top: 274px;
}
.position.closed {
  margin-top: 64px;
}

.userNav .dropdown-menu>li>a:hover,
.userNav .dropdown-menu>li>a:focus {
  color: #d8ceaf;
}

@media all and (max-width: 864px) {
  .navbar-nav>li>a {
    font-size: 13px;
  }
  .navbar-fixed-top {
    padding: 15px 0 0;
  }
  .nav>li>a {
    padding: 16px 11px;
  }
 }

@media all and (max-width: 767px) {
  .navbar .navbar-nav {
 /*    display: block; */
    margin: 0;
  }

  .navbar .navbar-collapse {
    background: #C02334;
    padding-bottom: 16px;
  }

  .navbar-fixed-top .nav>li>a {
      color: #d3ae5b;
    }

  .navbar-toggle {
    margin-right: 110px;
    padding: 12px 10px;
  }
}

.navbar-fixed-top .container-fluid {
  position: relative;
}

@media all and (max-width: 390px) {
  .navbar-brand>img {
    width: 115px;
    margin-top: 5px;
  }
}

.userNav {
  position: absolute;
  top:18px;
  right: 25px;
  padding: 0;
  list-style: none;
}

.userNav .dropdown-menu {
  left: -87px;
  background: #C02334;
}

/* end navbar */

/* login */

.page-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  color: #891826;
  font-weight: 800;
  letter-spacing: 6px;
  border: 0;
}

.login .panel-footer {
  background-color: transparent;
  border: 0;
}

.login .panel,
.register .panel {
  border: 0;
  background-color: transparent;
  box-shadow: none;
}

.login .panel .form-control,
.register .panel .form-control,
.register .form-control {
  text-align: center;
  height: 50px;
  background-color: #d8ceaf;
  color: #891826;
  border-radius: 2px;
}

 .form-control::-webkit-input-placeholder {
   color: #891826;
}

.form-control:-moz-placeholder { Firefox 18-
   color: #891826;  
}

.login .panel .form-control::-moz-placeholder {  Firefox 19+
   color: #891826;  
}

.login .panel .form-control:-ms-input-placeholder {  
   color: #891826;  
}

.login .panel .form-group {
  margin-bottom: 10px;
}

.login .panel .checkbox label {
  color: #d8ceaf;
  font-size: 16px;
}

.login .panel .checkbox {
  margin-left: 15px;
  display: inline-block;
}

.login p {
  color: #d8ceaf;
  text-align: center;
}

a {
  color: #ee9a20;
  font-weight: 800;
}

a:hover, a:focus {
  color: #ee9a20;
  text-decoration: none;
}

.login > a {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.login .panel-body button {
    background-color: #f2a01f;
    color: #891826;
    border: 0;
    border-radius: 2px;
    font-weight: 800;
    font-size: 16px;
    padding: 12px 35px;
}


/* end login */


/* register */

.register {
  font-size: 16px;
  text-align: center;
}

.register .alert-warning {
  background-color: transparent;
  color: #d8ceaf;
  border: 0;
}

.register .sendLink {
    width: 100%;
    background-color: #f2a01f;
    color: #891826;
    border: 0;
    border-radius: 2px;
    font-weight: 800;
    font-size: 16px;
    padding: 12px 35px;
}



/*end  register */

/* test */

.position {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height : 100% !important;
}

/* register */

.register.userRegister .form-control,
.register.submitTalk .form-control {
  text-align: left;
}

.info {
  font-size: 16px;
  color: #d8ceaf;
  margin-top: 12px;
}

.successRegister {
  font-size: 16px;
  color: #d8ceaf;
  text-align: center;
}

.sendLink.goTo {
  max-width: 300px;
  display: block;
  margin: auto;
  height: 45px;
  text-align: center;
  background-color: #f2a01f;
  color: #891826;
  line-height: 45px;
}

/* end register */

/* submit talk */

.submitTalk .control-label {
  color: #d8ceaf;
  font-size: 16px;
  font-weight: 500;
}

.submitTalk .labelStatus {
  text-align: left;
}

.submitTalk .label-status {
  background: 0;
  text-transform: uppercase;
  color: #ee9a20;
  font-size: 16px;
}

.submitTalk .form-control.text {
  height: auto;
}

.submitTalk .help-block {
  color: #d8ceaf;
  margin-top: 0;
}

.register.submitTalk label {
  color: #d8ceaf;
  text-align: left;
}

.register.submitTalk .form-group {
  color: #d8ceaf;
}

@media all and (max-width: 991px) {

  .submitTalk .col-sm-offset-3 {
    margin-left: 0;
  }

  .submitTalk .col-sm-9 {
    width: 100%;
  }
}


.talkSubmitted {
  color: #d8ceaf;
  background: 0;
  border: 0;
  text-align: center;
  font-size: 16px;
}

.talkSubmitted a {
  display: block;
}

.register.show-talk {
  text-align: left;
}

.register.show-talk .control-label {
  color: #cc8a7b;
  font-size: 16px;
  font-weight: 500;
}

.register.show-talk .form-control-static {
  color: #d8ceaf;
}

.register.show-talk .form-control-static .tags a {
  background: 0;
  color: #ee9a20;
  font-size: 16px;
}

.register.show-talk .addTag {
  height: 50px;
  background-color: #891826;
}

.register.show-talk .addTag i {
  color: #d8ceaf;
}

.listTalks {
  text-align: left;
}

.listTalks .talksNumber {
  display: inline-block;
  margin-bottom: 30px;
}

.listTalks .talksNumber span {
  font-size: 110px;
  font-weight: 800;
  margin-right: 100px;
}

.listTalks .talksNumber .accepted {
  color: #39b54a;
}

.listTalks .talksNumber .submitted {
  color: #d8ceaf;
}

.listTalks .talksNumber .talksStatus {
  color: #d8ceaf;
}

.listTalks p {
  color: #d8ceaf;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
  border: 0;
}

.table-bordered {
  border: 1px solid #bb5053;
}

.table-bordered>thead>tr>th {
  color: #c47770;
}

.table-bordered td {
  color: #d8ceaf;
}

.table>thead>tr>th,.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  color: #d8ceaf;
  border-top: 1px solid #bb5053;
}

.talksTable.table-striped>tbody>tr:nth-child(odd) {
  background-color: transparent;
}

@media all and (max-width: 767px) {
  .talksTable.table-striped>tbody>tr:nth-child(odd) {
    background-color: rgba(187, 80, 83, 0.4);
  }
}

/* end submit talk */

.position p {
  font-size: 16px;
  color: #d8ceaf;
}


/* CHANGE PASSWORD */

.register.password label {
  font-size: 16px;
  color: #d8ceaf;
}

/* END CHANGE PASSWORD */

.text-center .unregister {
  color: #d8ceaf;
}

.register.change .control-label {
  color: #cc8a7b;
  font-weight: 500;
}

.register.change {
  text-align: left;
}

.register.change label {
  color: #d8ceaf;
}

.register.change .form-control-static {
  color: #d8ceaf;
}

.register.change {
  color: #d8ceaf;
}

.register.change textarea {
  height: auto;
}

.register.change .input-group-addon {
  height: 50px;
  background-color: #891826;
  color: #d8ceaf;
}

.register.change .sendLink,
.register.rights .sendLink {
  width: auto;
}

.rightsMap h3,
.rightsMap ul {
  color: #d8ceaf;
}

.sendLink.table {
  width: auto;
  margin-bottom: 50px;
  background-color: #f2a01f;
  color: #891826;
  border: 0;
  border-radius: 2px;
  font-weight: 800;
  font-size: 16px;
  padding: 12px 35px;
}

.alert {
  font-weight: 800;
  text-align: center;
}

/* test table */

@media all and (max-width: 767px){
  .table-mobile thead { 
    display: none;
  }
  .table-mobile tbody tr td {
    display: block !important;
  }
  .table-mobile tbody tr td:not(:first-child) {
    border: 0;
  }
  .table .act-description label {
    display: inline;
  }
}

.table-striped>tbody>tr:nth-child(odd) {
    background-color: rgba(187, 80, 83, 0.4);
}


/* end test table */


/*our sponsors - START*/
.our-sponsors {
	background-image: url("../img2016/speakers.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
}
.our-sponsors .page-header {
	color: #F29E21;
	margin-bottom: 50px;
}
.sponsors-wrapper {
	text-align: center;
	width: inherit;
}
.sponsors-wrapper .sponsors {
	margin: 0px auto 50px auto;
	display: inline-block;
	width: auto;
}
.sponsors .sponsors-cat {
	min-width: 10%;
	max-width: inherit;
	float: left;
	min-height: 150px !important;
}
.sponsors .sponsors-cat img {
	width: 150px;
}
.sponsors .sponsors-list {
	float: left;
	min-height: 150px;
	line-height: 150px;
	display: inline-block;
	margin-left: 30px;
}
.sponsors .sponsors-list img {
	margin: 0 10px;
}
.sponsors-list > img {
	float: left;
	max-width: 200px;
}
.our-sponsors .linkButton {
    display: block;
    margin: 0 auto 50px auto;
    max-width: 210px;
    padding: 15px 30px;
    background-color: #f2a01f;
    color: #891826;
}
@media all and (max-width: 767px){
	.our-sponsors {
		height: 100% !important;
	}
	.sponsors .sponsors-cat {
		width: 100%;
		height: 150px !important;
	}
	.sponsors .sponsors-list {
		width: 100%;
		margin-left: 0;
	}
	.sponsors-list:empty {
		display: none;
	}
}
/*our sponsors - END*/

 /* Venue Start */

.back {
  text-align: center;
}

.venue h1,
.about h1 {
  margin: 60px 0;
  font-size: 39px;
  font-weight: 900;
  color: #a71d2f;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

.venue p {
  max-width: 800px;
  text-align: center;
  padding: 0 15px;
  margin: auto;
  font-size: 16px;
  font-weight: 300;
  color: #a71d2f;
}

.venue img {
  margin: 30px auto;
  width: 100%;
  max-width: 400px;
}


.linkButton {
  display: block;
  margin: 0 auto 50px auto;
  max-width: 160px;
  padding: 15px 30px;
  background-color: #f2a01f;
  color: #891826;
}

.linkButton:hover {
  color: #a71d2f;
}

.venue iframe {
  height: 347px;
  max-width: 70%;
  margin-bottom: 40px;
}

.fill,
.filltab {
  background-color: #d8ceaf;
}

.fills {
  background-color: #d8ceaf;
}

#Venue .venue h5 {
    color: #a71d2f;
    margin: 10px;
}


/* Venue End */

/* About Start */

.about {
  text-align: center;
  background-color: #d3ae5b;
}

.about p {
  padding: 45px 0 44px 0;
  max-width: 400px;
  font-size: 16px;
  font-weight: 300;
  color: #a71d2f;
  text-align: left;
}

/* .about a {
  display: block;
  text-decoration: underline;
  color: #a71d2f;
} */

.left {
  margin: 0 auto 0 0;
}

.right {
  margin: 0 0 0 auto;
}

.camels {
  width: 100%;
  overflow: hidden;
}

.camels img {
  margin: auto;
  position: relative;
}

.aboutInfo {
  background-color: #dfc589;
  padding: 0 15% 30px 15%;
}

.aboutInfo .col-xs-3{
  color: #a71d2f;
  font-size: 16px;
}

.aboutInfo .number {
  font-size: 80px;
  font-weight: 800;
}

.about h1 {
  margin-top: 60px;
}


@media all and (max-width: 767px) {
  .aboutInfo .number {
    font-size: 30px;
  }
  .aboutInfo .labels {
    font-size: 14px;
  }
  .aboutInfo {
    padding:  0 15px 12px 15px;
  }
  .about .col-xs-6 {
    width: 100%;
  }
  .about p {
    max-width: 100%;
  }
}

/* About End */



/*TAB Sponsors START*/
.tab-content #Sponsors .our-sponsors{
/*	height: 100% !important;*/
}
.sponsors-title {
  margin: 60px 0;
  font-size: 39px;
  font-weight: 900;
  color: #a71d2f;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-align: center;
}
.sponsors-tab {
  background-image: url("../img2016/speakers.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
	height: 100%;
}
.sponsors-tab img {
	width: 170px;
	margin: 22px 22px;
}
.sponsors-tab .sponsors-levels {
	margin: 0 auto;
	width: 95%;
	text-align: center;
}
.sponsors-tab .levels-details {
	text-align: center;
	margin-top: 15px;
}
.sponsors-tab .levels-details .linkButton {
	max-width: 270px !important;
	margin: 15px auto 45px auto;
/*   display: inline-block; */
}
.sponsors-tab .levels-details .linkButton.red-btn {
	color: #f2a01f;
	background-color: #891826;
/*   display: inline-block; */
	margin-left: 20px;
  margin: 15px auto 0 auto;
}
.sponsors-tab .levels-details .levels-text {
	color: #A71D2F;
	font-weight: 500;
  text-align: left;
/*   width: 39% */;
/*   margin: 40px auto; */
}
.sponsors-tab .levels-details .levels-text li {
  font-size: 16px;
  text-align: left;
}
.sponsors-tab .sponsors-text-right {
	border-left: 2px solid #d3ae5b;
	padding-left: 20px;
}
@media all and (max-width: 1450px) {
	#Sponsors {
		height: 100% !important;
	}
}
@media all and (max-width: 767px){
	.sponsors-tab .levels-details .levels-text {
		width: 100%;
	}
	.sponsors-tab .sponsors-text-right {
		border-left: none;
		padding-left: 15px;
		border-top: 2px solid #d3ae5b;
		padding-top: 20px;
	}
}

/*TAB Sponsors END*/

/*TAB Contact START*/
.contact-tab {
	text-align: center;
	width: 100%;
}
.contact-tab .contact-title {
  margin: 60px 0;
  font-size: 39px;
  font-weight: 900;
  color: #F2A01F;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-align: center;
}
.contact-tab p {
	text-align: center;
	margin-bottom: 0;
}
.contact-tab p:nth-child(3) {
	margin-bottom: 25px;
}
/* .contact-tab .social {
  margin-top: 60px;
} */
/*TAB Contact END*/

/*TAB Organizers START*/
.organizers-tab {
  background-image: url("../img2016/speakers.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
	text-align: center;
}
.organizers-tab h1{
	margin: 1.3em 0;
}
.organizers-tab p {
	color: #9A1B29;
/*   width: 350px; */
	margin: 0 auto;
}
.organizer-wrapper {
	width: 17%;
	height: 280px;
	text-align: center;
	float: left;
	margin: 35px 17px 0px 17px;
}
.organizer-wrapper img {
	width: 100%;
/*	margin: 0 auto;*/
}
.organizer-wrapper p{
	width: 80%;
	margin: 0 auto;
}
.organizer-wrapper .organizer-details {
    font-size: 12px;
    text-transform: uppercase;
}
.organizer-wrapper .organizer-name {
	margin-top: 10px;
	font-weight: 800;
}
.organizer-wrapper figure {
	overflow: hidden;
	position: relative;
	display: table;
	width: 100%;
}
.organizer-wrapper:hover figcaption {
	opacity: 1;
}

.organizer-wrapper .clickIoSActive {
  opacity: 1 !important;
}

.organizer-wrapper figcaption {
	background: rgba(192, 35, 54, 0.80);
	color: #fff;
}
.organizer-wrapper figcaption {
	text-align: left;
	font-size: 12px;
	display: table-cell;
	width: 100%;
	height: 100%;
	left: 0;
	opacity: 0;
	padding: 15px;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	-webkit-transition-delay: .1s;
	-moz-transition-delay: .1s;
	transition-delay: .1s;
}
.organizers-tab .dev-team {
	text-align: center;
}
.organizers-tab .dev-team .organizer-wrapper {
	float: initial;
	display: inline-block;
}

@media all and (max-width: 1200px){
	.organizer-wrapper {
		width: 21%;
		height: 340px;
	}
}
@media all and (max-width: 991px){
	.organizer-wrapper {
		width: 28%;
		height: 305px;
	}
}
@media all and (max-width: 720px){
	.organizer-wrapper {
		height: 355px;
		width: 43%;
	}
}
@media all and (max-width: 620px){
	.organizer-wrapper {
/*		width: 50%;*/
		height: 290px;
	}
}
@media all and (max-width: 562px){
	.organizer-wrapper {
		width: 42%;
	}
}
@media all and (max-width: 500px){
	.organizer-wrapper {
		width: 100%;
		height: auto;
		margin-right: 0;
		margin-left: 0;
	}
	.organizers-tab p { 
		width: auto;
	}
	.sponsors-title {
		font-size: 25px;
	}
	.organizer-wrapper figcaption {
		font-size: 19px;
	}
}
@media all and (max-width: 380px){
	.organizer-wrapper figcaption {
		font-size: 17px;
	}
}
/*TAB Organizers END*/

/* Conference Info Tabs Bar -- Start */
.nav.nav-tabs i {
  color: #d8ceaf;
}

.nav-tabs {
  background-color: #9a1b29;
  border: 0;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
}

.nav-tabs>li {
  display: inline-block;
  float: none;
}

.nav-tabs>li.active a,
.nav-tabs>li.active a:hover,
.nav-tabs>li.active a:focus {
  color: #d3ae5b;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs>li>a:hover {
  border-color: transparent;
}

.nav-tabs>li>a {
  padding: 16px 25px;
}

.conferenceInfo .nav.nav-tabs {
  height: 56px;
}

@media all and (max-width: 1314px) {
  .nav-tabs>li>a {
     padding: 16px 16px;
  }
}

@media all and (min-width: 848px) {
  .nav.nav-tabs li a {
    opacity: 1 !important;
  }
}

@media all and (max-width: 395px) {
  .nav.nav-tabs li a {
    font-size: 12px;
    padding: 16px 11px;
  }

}

/* Conference Info Tabs Bar -- End */

/* TAbs about start */

.about.filltab p {
  padding: 0 0 0;
}

.about.filltab .col-xs-6 a {
  margin-top: 50px;
}

/* TAbs about end */

/* TAbs Speakers start */

#carousel-speakers .col-xs-4 img {
  width: 260px;
  margin: auto;
  border-radius: 50%;
}

#carousel-speakers .carousel-caption {
    position: relative;
    right: 0;
    left: 0;
}

.speakersTitle {
  padding: 60px 0;
  margin: 0;
  font-size: 39px;
  font-weight: 900;
  color: #a71d2f;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

.speakersback {
  background-image: url("../img2016/speakers.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#carousel-speakers h4 {
  margin-top: 30px;
  font-weight: 800;
  text-shadow: none;
}

#carousel-speakers .speakerInfo a {
  display: block;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 30px;
}

#carousel-speakers h4 {
  font-size: 30px;
  text-align: center;
}

#carousel-speakers h4,
#carousel-speakers p {
  color: #a71d2f;
}

#carousel-speakers .speakerInfo p a {
  display: inline;
  font-size: 16px;
}

#carousel-speakers .glyphicon {
  color: #a71d2f;
}
.nav-tabs {
  z-index: 10;
  width: 100%;
  position: fixed;
}

.tab-content {
  padding-top: 55px;
}
/* TAbs Speakers end */

.nav-tabs {
  z-index: 10;
  width: 100%;
  position: fixed;
}

.tab-content {
  padding-top: 55px;
}

#carousel-speakers .carousel-control.left,
#carousel-speakers .carousel-control.right {
  background-image: none;
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  top: 32%;
}



#carousel-speakers .item img.center-block {
  width: 260px;
  height: 260px;
  border-radius: 50%;
}

.moreSpeakers .speakersBlock a {
  display: block;
  font-size: 18px; 
  text-align: center;
  /* color: #a71d2f; */
  font-weight: 800;
  margin-top: 25px;
}

.moreSpeakers img {
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50%;

}

.moreSpeakers {
  margin-bottom: 30px;
}

.moreSpeakers .speakersBlock {
  width: 20%;
  height: 300px;
  float: left;
  padding: 15px;
}

@media all and (max-width: 1290px) {
  .onebyone-carosel {
    width: 90%;
    margin: 0 auto;
  }
}

@media all and (max-width: 1210px) {
  .moreSpeakers .speakersBlock {
    width: 25%;
  }
}

@media all and (max-width: 992px) {
  .moreSpeakers .speakersBlock {
    width: 33%;
  }
}

@media all and (max-width: 756px) {
  .moreSpeakers img {
    width: 150px;
    height: 150px;
  }
  .moreSpeakers .speakersBlock a {
    font-size: 18px;
  }
  .carousel-control .icon-prev,
  .carousel-control .icon-next,
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right {
    top: 118px;
  }
}

@media all and (max-width: 596px) {
  .moreSpeakers .speakersBlock {
    width: 50%;
  }
}

@media all and (max-width: 411px) { 
  .moreSpeakers .speakersBlock {
    width: 100%;
  }
}

@media all and (max-width: 380px) {
  #carousel-speakers .item img.center-block {
    width: 180px;
    height: 180px;
  }
  .carousel-control .icon-prev,
  .carousel-control .icon-next,
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right {
    top: 81px;
  }
}



/* Main page start*/

.jsUl {
  list-style-type: none;
  padding: 0;
}

.jsUl li {
  padding: 4px 0px;
  text-align: center;
  color: #ee9a20;
  text-transform: capitalize;
}

/* .otherAct b {
  background-color: #ee9a20;
  padding: 15px 90px;
  cursor: pointer;
} */

.changesjs.transition {
  transition: all 2s ease-in-out;
}

.jsUl.otherActUl.test h1 {
  font-size: 29px;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.test {
/*     height: 100px; */
    width: 97%;
    background: #d8ceaf;
/*     padding: 100px; */ 
    position: absolute;
    right: -100%;
    top: 0;
    cursor: pointer;
}

.halfWidth {
  width: 50%;
}

.fullWidth {
  width: 100% !important;
}

.text-center.otherAct {
  cursor: pointer;
  transform: rotate(-90deg);
  transform-origin: top right;
  position: absolute;
   top: 3%; 
  right: 4%;
  font-size: 30px;
  margin: 0;
}

@media all and (max-width: 710px){
  .jsUl.otherActUl {
    display: block !important;
    margin: 0;
    min-height: auto !important;
  }
  .text-center.otherAct {
    display: none !important;
  }
  .test {
    background: transparent;
    position: relative;
    cursor: auto;
    right: 0;
    width: 100%;
  }
}




/* Main page end*/

/* Change photo start */

.changePhoto {
  margin-top: 40px;
}

.changePhoto .photo img {
  width: 100%;
  max-width: 265px;
  border: 5px solid #ffffff;
  margin: 9px 0 0 auto;
}

.changePhoto .btn-file {
  position: relative;
  overflow: hidden;
}

.changePhoto .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

.changePhoto .file-input-label {
  height: 50px;
  padding: 0px 10px;
  display: table-cell;
  background-color: #d8ceaf;
  color: #891826;
  vertical-align: middle;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  word-break: break-all;
}

.changePhoto input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.changePhoto .btn-uploadFile {
  background-color: #d3ae5b;
  color: #891826;
  font-size: 16px;
  padding: 13px 28px;
  font-weight: 600;
}

.changePhoto .file .input-group {
  margin-bottom: 10px;
}

.changePhoto .sendLink {
    width: 100%;
    background-color: #f2a01f;
    color: #891826;
    border: 0;
    border-radius: 2px;
    font-weight: 800;
    font-size: 16px;
    padding: 12px 35px;
    margin-bottom: 10px;
}

.changePhoto .deleteImg {
  width: 100%;
  margin-bottom: 10px;
  border: 0;
  background-color: transparent;
  color: #d3ae5b;
  font-weight: 800;
}

@media all and (max-width: 767px) {
  .changePhoto .photo img {
    margin: 0px auto 10px auto;
  }
}
/* Change photo end */

/* Talks tab start */

.talks-tab {
    background-image: url("../img2016/speakers.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100%;
    text-align: center;
}

.talks-title {
    margin: 60px 0 0;
    font-size: 39px;
    font-weight: 900;
    color: #a71d2f;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
}

.talks-tab .moreInfoTalsk {
	margin-top: 90px;
}

.talks-tab .moreInfoTalsk p {
  color: #a71d2f;
}

.talks-tab .moreInfoTalsk p span{
  font-weight: 900;
}

.talks-tab hr {
  display: inline-block;
  margin: 60px 0;
  border-top: 2px solid #d3ae5b;
}
.talks-tab .submitTalk {
	margin-top: 50px !important;
}
.talks-tab .moreInfoTalsk #lightning p {
  margin-top: 20px;
}

.talks-tab .infoTalks {
  color: #a71d2f;
  margin-top: -35px;
}

.talks-tab .infoTalks .number {
  font-size: 16em;
  font-weight: 900;
}

.talks-tab .infoTalks .labels {
  margin-top: -25px;
}

.talks-tab .talksText {
  color: #A71D2F;
  font-weight: 500;
  text-align: left;
}

.talks-tab .centerText {
  width: 58%;
  margin: 0 auto;
}
@media all and (max-width: 767px) {
  .talks-tab .centerText {
    width: 100%;
  }
}
/* Talks tab end */

/* Social footer for tabs */

.tab-pane .social .socialFooter i {
  color: #d8ceaf;
  background-color: #891826;
}

.tab-pane .social .socialFooter p {
  border-top: 1px solid #d3ae5b;
  color: #891826;
  text-align: center;
}

#About .social .socialFooter p {
  border-top: 1px solid #891826;
}

#Schedule .social .socialFooter i {
  background-color: #d8ceaf;
  color: #a71d2f;
}

#Schedule .social .socialFooter p a {
  color: #d3ae5b;
}

#Contact .social .socialFooter i {
  background-color: #d8ceaf;
  color: #a71d2f;
}

#Contact .social .socialFooter p a {
  color: #d3ae5b;
}

.about.filltab .socialFooter p {
  padding: 10px;
}

.tab-pane .social .socialFooter {
  margin-top: 45px;
}

.tab-pane .social .socialFooter a:hover ~ p {
  margin: 19px auto;
}

.tab-pane .social .socialFooter p a {
  color: #891826;
}


/* Social footer for tabs */

#Schedule .schedule-title {
  margin: 60px 0;
    font-size: 39px;
    font-weight: 900;
    color: #F2A01F;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
}

@media (min-width: 1200px) {
  .container .v2 {
    width: 850px;
  }
}

@media (min-width: 992px) {
  .container .v2 {
    width: 850px;
  }
}

#Speakers .becomeSpeaker,
#Talks .submitTalk {
  text-align: center;
  color: #f2a01f;
  background-color: #891826;
  max-width: 245px;
  padding: 15px;
  margin: 0 auto;
}

#Schedule .anounced {
  font-size: 21px;
  text-align: center;
}

#Venue .venue h3 {
  color: #a71d2f;
  margin: 10px;
}
#Venue .other.venue a {
	font-size: 23px;
}

/* Stats Start */



/* Stats End */

/* User info Start */
.UserTitle h1 {
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    font-size: 34px;
    color: #891826;
    font-weight: 800;
    letter-spacing: 6px;
    border: 0;
}

.userView .panel-body .glyphicon {
  color: #d8ceaf;
}

.userView .panel-body .labelUser {
  color: #d8ceaf;
}

.userView .panel-body .labelUser a {
  color: #d8ceaf;
  word-break: break-all;
}

.otherActConf {
  position: relative;
  background-color: #d8ceaf;
  text-align: center;
  margin-bottom: 60px;
}

.otherActConf .other {
  padding: 15px 45px;
  cursor: pointer;
}

.otherActConf .other h2 {
  margin-bottom: 20px;
  color: #891826;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.otherActConf .conf ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
  padding-bottom: 30px;
}

.otherActConf .conf li {
  padding: 5px;
  text-align: center;
}

.otherActConf .conf {
  width: 100% !important;
}

.otherActConf i {
  position: absolute;
  right: 20px;
  top: 42px;
  color: #891826;
  font-size: 20px;
}

@media all and (max-width: 991px) {
  .userView .panel-body .text-right {
    text-align: center;
  }
  .userView .panel-body .text-right img {
    margin-bottom: 50px;
  }
}

@media all and (max-width: 468px) {
  .otherActConf .other h2 {
    font-size: 15px;
  }

  .UserTitle h1 {
    font-size: 31px
  }

  .userView .panel-body .labelUser {
    color: #d8ceaf;
    float: none;
    width: 100%;
    margin-bottom: 13px;
    padding: 0;
  }
}

/* User info End */

/* TicketsInfo  Start*/
/* ConferenceTickets Start */
#ConferenceTickets h1,
#TrainingTickets h1,
#WorkshopTickets h1,
#Trips h1 {
  margin: 60px 15px;
  font-size: 39px;
  font-weight: 900;
  color: #d8ceaf;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.ticketsBack {
  background-image: url("../img2016/ticketsBack.png");
  background-repeat: repeat;
  background-attachment: fixed;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  text-align: center;
}

#ConferenceTickets .box,
#TrainingTickets .box
#Trips .box {
  margin-bottom: 30px;
} 

#ConferenceTickets .box .front,
#ConferenceTickets .box .back,
#TrainingTickets .box .front,
#TrainingTickets .box .back,
#Trips .box .back, 
#Trips .box .front {
  border: 1px solid #635b51;
}

#ConferenceTickets .box p {
  font-size: 16px; 
  color: #1f82f2;
  margin-bottom: 3px;
}

#ConferenceTickets .box .ticketInfo.oneday,
#ConferenceTickets .box .ticketInfo.threeday {
  margin-top: 30px;
}

#ConferenceTickets .box .threeday {
  color: #f2a01f;
}

#ConferenceTickets .box .price span {
  color: #d8ceaf;
  font-size: 90px;
  font-weight: 900;
}

#ConferenceTickets .box .price span:first-child {
  font-weight: 300;
  font-size: 29px;
  line-height: 158px;
  vertical-align: top;
}

#ConferenceTickets .box .priceFor {
  margin-top: -40px;
  padding-bottom: 30px;
  font-size: 16px; 
  color: #d8ceaf;
  font-weight: 500;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
  transform-style: preserve-3d;
}

/* flip the pane when hovered */
.flip-container:hover .back {
    transform: rotateY(0deg);
}

.flip-container:hover .front {
      transform: rotateY(180deg);
}

#ConferenceTickets .flip-container,
#ConferenceTickets .box .front,
#ConferenceTickets .box .back {
  width: 100%;
  height: 100%;
  min-height: 240px;
}



/* flip speed */
.flipper {
  transition: 0.7s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.box .front, .box .back {
  backface-visibility: hidden;
  transition: 0.7s;
  transform-style: preserve-3d;

  position: absolute;
  top: 0;
  left: 0;
}

/*  front pane, placed above back */
.box .front {
  z-index: 2;
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.box .back {
  transform: rotateY(-180deg);
  background-color: #362f2d;
}

.box .back ul {
  padding: 0;
  list-style-type: none;
  height: 100%;
}

.box .back ul li {
  font-size: 14px;
  color: #d8ceaf;
  min-height: 25%;
  padding-top: 9px;
}

.box .back ul li:nth-child(even) {
  background: #3e3734;
}

#ConferenceTickets .linkButton {
  max-width: 320px;
  margin-bottom: 0;
}

/* ConferenceTickets End */

/* TrainingTickets Start*/
#TrainingTickets .box {
  margin-bottom: 40px;
}

#TrainingTickets .box .front {
  padding: 20px;
  text-align: left;
  background-image: url("../img2016/trainingback.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#TrainingTickets .box .front .trainingTitle {
  text-transform: uppercase;
  color: #f2a01f;
  font-weight: 700;
  margin: 0 0 20px 0;
}

#TrainingTickets .box .front .trainingWith {
  font-weight: 700;
  margin-bottom: 0;
}

#TrainingTickets .box .front .priceTraining {
  color: #d8ceaf;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 20px;
}

#TrainingTickets .box .front .priceTraining .priceT {
  color: #69d027;
}

#TrainingTickets .flip-container,
#TrainingTickets .box .front,
#TrainingTickets .box .back {
  width: 100%;
  height: 100%;
  min-height: 320px;
}

#TrainingTickets .linkButton {
  max-width: 320px;
  margin-bottom: 0;
}

/* TrainingTickets End*/
/* WorkshopTickets Start*/

#WorkshopTickets .linkButton {
  max-width: 320px;
  margin-bottom: 0;
}

#WorkshopTickets .workshoptext {
  max-width: 320px;
  display: block;
  margin: 0 auto 60px auto;
}

#WorkshopTickets img {
  margin: 0 auto 30px auto;
}

/* WorkshopTickets End*/

/* Trips Start*/

#Trips .flip-container,
#Trips .box .front,
#Trips .box .back {
  width: 100%;
  height: 100%;
  min-height: 153px;
}

#Trips .box {
  max-width: 80%;
  display: block;
  margin: 0 auto 30px auto;
}

#Trips .box .front {
  text-align: left;
  background-image: url("../img2016/tripsbk.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#Trips .front .content {
  padding-left: 26%;
  color: #d8ceaf;
}

#Trips .front .tripTitle {
  color: #1f82f2;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
}

#Trips .front .tripLocation {
  font-weight: 700;
  margin: 0;
}

#Trips .front .priceTrips {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
}

#Trips .front .priceTrips .priceT {
  color: #69d027;
}

/* flip the pane when hovered */
#Trips .flip-container:hover .back {
    transform: rotateX(0deg);
}

#Trips .flip-container:hover .front {
      transform: rotateX(180deg);
}

/*  front pane, placed above back */
#Trips .box .front {
  z-index: 2;
  transform: rotateX(0deg);
}

/* back, initially hidden pane */
#Trips .box .back {
  transform: rotateX(-180deg);
  background-color: #362f2d;
}


/* Trips End*/

.ticketsInfo .social .socialFooter i {
  color: #362f2d;
  background-color: #d8ceaf;
}

.ticketsInfo .social .socialFooter p {
  border-top: 1px solid #222222;
}

.ticketsInfo .social .socialFooter p a {
  color: #d3ae5b;
}

@media all and (max-width: 599px) {
  .ticketsInfo .nav.nav-tabs li a {
    font-size: 12px;
    padding: 16px 11px;
  }
}

@media all and (max-width: 450px) {
  .ticketsInfo .nav.nav-tabs li a {
    font-size: 10px;
    padding: 16px 4px;
  }
}

@media all and (max-width: 353px) {
  .ticketsInfo .nav.nav-tabs li a {
    font-size: 9px;
    padding: 16px 3px;
  }
}

/* TicketsInfo  End*/

/* purchase Start */

.purchase .form-control {
    text-align: center;
    height: 25px;
    background-color: #d8ceaf;
    color: #891826;
    border-radius: 2px;
}

.purchase .sendLink {
    margin-bottom: 10%;
    background-color: #f2a01f;
    color: #891826;
    border: 0;
    border-radius: 2px;
    font-weight: 800;
    font-size: 16px;
    padding: 12px 35px;
}

.purchase .act-amount {
  color: #69d027;
  font-weight: 900;
}

.purchase .act-currency {
  color: #69d027;
  font-weight: 900;
}

.purchaseInfo {
  float: none;
  display: inline-block;
}

.purchaseALL {
  margin-bottom: 10%;
}

.online .price {
  color: #69d027;
  font-weight: 900;
}

.online form input {
  padding: 15px 30px;
  border: 0;
  background-color: #f2a01f;
  color: #891826;
}

blockquote.text-center.ticketPay {
  background: #d8ceaf;
  width: 90%;
  margin: 0 auto;
  border: 0;
  line-height: 20px;
}

.text-center.ticketPay strong {
  display: block;
  color: #69d027;
}

.invoicePrint td input {
  width: 100%;
  height: 50px;
  background-color: #d8ceaf;
  color: #891826;
  border-radius: 2px;
  border: 0;
  margin-bottom: 10px;
  padding: 10px;
}

.invoicePrint td textarea {
  width: 100%;
  margin-bottom: 5px;
  background-color: #d8ceaf;
  color: #891826;
  border-radius: 2px;
}

.invoicePrint td label {
  color: #d8ceaf;
}

.invoicePrint input {
  color: #891826;
  padding: 12px 56px;
  background: #f2a01f;
  border: 0;
}

.tableinPrint {
  color: #d8ceaf;
  border-color: #bb5053;
  border: #bb5053;
}

/* purchase End */


/* font weight for ACT bold type for accepted speaks */
table a {
  font-weight: inherit;
}
/* End */

/* Search ui Start */

#user-search .form-group label {
  color: #cc8a7b;
  font-weight: 500;
}


#user-search .form-group input,
#user-search .form-group select {
  text-align: left;
  height: 50px;
  background-color: #d8ceaf;
  color: #891826;
  border-radius: 2px;
}

#user-search .sendLink {
  margin-bottom: 20px;
  background-color: #f2a01f;
  color: #891826;
  border: 0;
  border-radius: 2px;
  font-weight: 800;
  font-size: 16px;
  padding: 12px 35px;
}


.stats-options h3 {
  color: #d8ceaf;
}

.stats-options .stats {
  color: #d8ceaf;
}


/* End Search ui */

